
section {
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.input-field {
    width: 340px;
    height: 45px;


    border: 0.5px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.input-field input {
    outline: none;
    border: hidden;
    background-color: transparent ;
}

.pin {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #333;
    border-radius: 50%;
    width: 10px;
    height: 120px;
    animation: spin 1s linear infinite;
}




