.brief {
  width: 50px !important;
  height: 50px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  background-color: bisque;
}

select {
  border: 1px solid #ddd;
  padding: 0.4rem 1rem 0.4rem 0.2rem;
  border-radius: 3px;
  color: #565656;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

.dropdown-menu {
  min-width: 5rem !important;
}

.dropdown-arrow {
  position: relative;
  margin-top: 7px;
}

.tableWidth {
  table-layout: fixed;
  width: 100%;

  border-collapse: collapse;
}

h5 {
  display: flex;
}

.id {
  width: 5%;
}
.name {
  width: 20%;
}

.action {
  width: 10%;
}

.briefHistory {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.country-name {
  line-height: 6px !important;
}

.img-upload {


box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, .75);
 
}
