.viewmodal-body{
  padding: 0.85rem;
}

.order-note{
  margin-left: 4.5rem;
}

.order-modal-title{
  margin-left: 3rem;
}
.action-font{
  font-size: x-small;
  margin: 0px 2px;
  cursor: pointer;
}


.receipt-call-to-action{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  top: 3;
}
.receipt{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

 .fa-trash:hover{
  color: red;
}

.fa-download:hover{
  color: blue;
}

.react-confirm-alert-body {
  z-index: 2000 !important;
}

.react-confirm-alert {
  z-index: 2000 !important;
}

.react-confirm-alert-overlay{
  z-index: 2000 !important;
}