.viewmodal-body{
  padding: 0.85rem;
}

.order-note{
  margin-left: 4.5rem;
}

.order-modal-title{
  margin-left: 3rem;
}
.action-font{
  font-size: x-small;
  margin: 0px 2px;
  cursor: pointer;
}

.receipt-container{
  position: relative;
}
.receipt-call-to-action{
  position: absolute;
  display: flex;
  top: 3;
}
.receipt{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

 a:active{
  color: aquamarine;
  background: yellow;
}