.sidebar-item{
    padding: .75em 1em;
    display: block;
    transition: back .15s;

}

.sidebar-item:hover{
    background-color: rgba(255, 255, 255, .1);
}
.headings{
    cursor: pointer;
}
.sidebar-title{
    display: flex;
    
    justify-content: space-between;
}

.sidebar-title span i{
    display: inline-block;
    width: 1.5em;
   
}

.sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
    font-size: 10px;
}

.sidebar-item.open .sidebar-title .toggle-btn{
    transform: rotate(90deg);
}


.sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
}

.sidebar-item.open .sidebar-content {
    height: auto;
}





.sub-menu-wrap {
    position: absolute;
    top: 80%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

 @media only screen and (max-width: 800px){
    .sub-menu-wrap-two {
        position: absolute;
        top: 12.2%;
        right: 0;
        width: 100%;
        max-height: 800px;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 10;
    } 
}  

@media only screen and (min-width:600px) {
    .sidebar-bg {
        position: absolute;
        overflow: hidden;
        z-index: 10;
    }
}


.sub-menu-wrap .open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.sidebar-bg{
    background-color: white;
    border-radius: 10px;
    height: 210px;
}