.single{
  padding: 100px;
}


.left{
  flex: start;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.inputFields{
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: left;
}