.single{
  padding: 100px;
}


.left{
  flex: start;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.inputFields{
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.user-input{
  padding: 1rem !important;
  border-radius: 0.5rem !important;
  height: 55px !important;
}

.user-submit{
  width: 100% !important;
  height: 55px !important;
  border-radius: 0.5rem !important;
}